* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: blue;
    margin-top: 20px;
}

form {
    background-color: lightblue;
    border: 2px solid aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
}

