* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: blue;
  text-align: center;
  margin-top: 20px;
}

form {
  margin-top: 20px;
  border: 2px solid blue;
  background-color: lightblue;
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  div {
    margin-top: 20px;
    width: 45%;
    height: 30px;
display: flex;
justify-content: space-between;
align-items: center;   
    label {
      margin-left: 30px;
    
    }
    input,
    select {
      width: 40%;
      height: 30px;
      border: none;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      width: 150px;
      padding: 7px;
      margin: 7px;
      border: none;
      cursor: pointer;
    }
  }
}
